//Card
@mixin card($color) {

    .card-text{
        h3 {
             color: $color;
        }
        a {
             background-color: $color;
             color: $white-color;
        }
   }
}

@mixin card-h3-color($color) {
    h3 {
        color: $color;
    }
}

//SVG
//BG 
@mixin background-svg($url, $position) {
    background-image: url($url);
    background-position: $position;
    background-repeat: no-repeat;
    background-size: 110%;
    margin: -1px 0;
}