/*ABOUT PAGE*/

.main {
    #about {
        .container {

            padding: 2rem 0;
            .row .col {
                padding: 0;
            }
            
            .row {
                background: #ffffff;
                border-radius: .3rem;
                overflow: hidden;
                box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.2);
            }
            .about-description {
                padding: 0 1rem 0 1rem !important;
                width: 100%;
            }
            .about-description p:nth-of-type(1) {
                font-size: 1.2rem;
                font-weight: bold;
                color: rgb(131, 127, 127);
            }
            .about-description p {
                margin-bottom: 1rem;
            }
            .about-img {
                img {
                    display: block;
                }
            }
        }
    }
}