    /*ARTICLE - PAGES*/

    .card-content-b {
        display: none;
        padding: 1.2rem;
        .article-right-side {
            .read-more {
                display: block;
                text-align: center;
                margin: .5rem 0;
            }
        }
    }

    //Pour les 3 boutons
    .article-search-bar {
        margin-bottom: 2rem;
    }

    #article-body-title {

        padding-top: 2rem;

        .articles {

            .card-content {
                position: relative;
                min-height: 200px;
                &-b {
                    position: absolute;
                    top: 0%;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .article-left-side img {
                width: 100%;
            }
            .row {
                margin: 0;
                .col.article-left-side {
                    padding: 0 !important;
                }
            }

            .article-right-side {
                .row {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    .col.s2 {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid grey;
                        display: grid;
                        place-items: center;
                        overflow: hidden;
                        img {
                            width: 250%;
                        }
                    }
                }
                overflow: hidden;
                .article-right-side {
                    height: 100% !important;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .date {
                    font-size: 10px !important;
                    color: gray
                }
                .material-icons {
                    cursor: pointer;
                }
                .autor-body {
                    width: 100%;
                    h3 {
                        font-size: 2rem;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                .row p.black-text {
                    font-weight: bold;
                }
                .autor-body p {
                    font-size: 13px;
                }
            }
            .card-action {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
            .autor-like {
                cursor: pointer;
                color: red;
            }
        }
    }