/*le fait de mettre underscore devant un fichier, cela explique au
cimpliateur, de faire que de l'include et nom de compilation*/

:root {
    --primary-color-dark: #0d47a1;
    --primary-color: #4285F4;
    --secondary-color-dark: #9933CC;
    --secondary-color: #aa66cc;
    --default-color-dark: #00695c;
    --default-color: #2BBBAD;
    --white-color-dark: #f4f4f4;
    --white-color: #fff;
}

$light-color:#f4f4f4;
$font-stack: Arial,
Helvetica,
sans-serif;
$primary-color:#0e6cff;
$secondary-color:#ff8700;
//Set color text based on background
@function set-text-color ($color) {
    @if (lightness($color) > 70) {
        @return #333;
    }
    @else {
        @return #fff;
    }
}

//SEt background & text color => procedure != function
@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color);
}

@mixin my-container() {
    width: 100vw;
    max-height: 90vh;
    padding: 0.5rem;
    margin: 0 auto;
}
