/* CONTACT - PAGE*/

main {
    #contact {

        .container {
            padding: 2rem 0;
            .row {
                margin: 0;
            }
            &>.row {
                border-radius: .3rem;
                overflow: hidden;
                box-shadow: 0 2px 3px rgba($color: #000000, $alpha: 0.2);
                margin: 0;
                background: #ffffff;
                .col {
                    padding: 0;
                }

                .contact-bottom {
                    padding: 2rem;
                    width: 100%;
                    .col .row {
                        margin-left: 0 !important;
                        margin-right: 0 !important;
                    }
                }

                .contact-description {
                    padding: 0 1rem 0 1rem !important;
                    width: 100%;
                    h1 {
                        font-size: 2.3rem;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }
                p {
                    margin-bottom: 1rem;
                }
                #address {
                    font-size: 1.2rem;
                }

            }
        }
    }
}