/*FOOTER*/

#footer {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 2rem 0;
}

#footer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
}

#footer>div>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-bottom: 1rem;
}

#footer>div>div a>i {
    font-size: 1.4rem;
    color: #333;
}

#footer>div>div a>i:hover {
    color: var(--primary-color);
}