.portofolio-gallery {
    .container-fluid {
        .galery-img {
            padding: 5px;
            margin: 0;
            .card {
                margin: 0;
            }
        }
        position: relative;
        .galery-light-box {
            background-color: rgba($color: #333333, $alpha:1);
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 1000;
            padding: 2rem 20% 2rem 20%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            .card {
                background-color: transparent !important;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                &-image {
                    img {
                        max-width: 600px;
                    }
                }
            }
        }
    }
}