.main {
    padding-top: 5rem;
    position: relative;
    height: auto;
    max-width: 100vw;
    &-title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        align-items: center;
        justify-content: center;
        h1 {
            padding: 1.5rem 2rem 0 2rem;
            margin-top: 0;
            text-align: center;
            height: 80px;
            border-radius: 15px;
            font-size: 3rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}