.logo {
    width: 10%!important;
    border: 1px solid red;
}

.singin, .register {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner {
        max-width: 500px;
        min-width: 345px;
        margin: auto;
        border: 1px solid lightgray;
        padding: 1rem;
        border-radius: .3rem;
        background-color: var(--white-color);
        h1 {
            text-align: center;
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}
