@media screen and (max-width: 480px) {

    .main {
        #price {
            .my-row {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    }

    .articles>div>div {
        display: grid !important;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .card.horizontal .card-image {
        max-width: 100%;
    }

    //GALERY
    .portofolio-gallery {
        .container-fluid {
            position: relative;
            .galery-light-box {
                padding: 2rem 5% 2rem 5%;
                .card-image.portrait {
                    width: 70%;
                }
            }
        }
    }

    /* PORTOFOLIO - PAGE*/
    .portofolio-gallery {
        .container-fluid {
            .row {
                margin-bottom: 0;
                .col {
                    .card {
                        &-image {
                            .show-more {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}