/*NAV BAR*/

#header {
    display: block;
}

.nav-wrapper {
    padding-left: 1rem;
    a.brand-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        padding-top: .1rem;
        img {
            position: relative;
            width: 100%;
            display: block;
        }
    }

    &>a {
        font-weight: bold;
        font-size: 3rem;
    }
    & >a,ul li>a {
        color: #000;
    }
    li > a {
        text-transform: uppercase;
    }
}
