
.portfolio-4-leftside {
    .left-inner {
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
      
    }
}


@media(max-width:460px) {
    .portfolio-4-leftside {
        display: none;
    }
}
