
    // .row{
    //     margin-top: 00!important;
    //     margin-bottom: 00!important;
        
    //     .col {
    //         margin: 0!important;
    //         padding: 0 0.5rem;
    //         .card {
    //             &-image {
    //                 width: 100%;
    //                 img{
    //                     width: 100%;
    //                 }
    //                 a {
    //                     border: 1px solid #f4f4f4;
    //                 }
    //             }
               
    //             border: 1px solid white;
    //         }
    //     }
    // }

    // .portfolio-standard {
    //     margin: 0 auto;
    //     width: 95vw;
    //     max-height: 90vh;
    // }

//     .my-card {
//         img {
//             border-radius: 0.4rem;
//             border: 2px solid #f4f4f4;
//             display: block;
//             width: 100%;
//         }
//         a {
//             position: absolute;
//             bottom: 20%;
//             left: 50%;
//             transform: translateX(-50%);
//             border: 1px solid #f4f4f4;
//             font-weight: bold!important;
//         }
//     }

//     .portfolio-standard {
//         @include my-container();
//         .my-row {
//             display: grid;
//             grid-template-columns: 2fr 1fr;
//             grid-template-rows: auto;
//             grid-gap: 0.5rem;
//             overflow: hidden;

//             .my-col-left {
//                 display: block;
//                 position: relative;
                
//             }
//             .my-col-right {
//                 width: 100%;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: space-between;
//                 overflow: hidden;
//                 .my-card {
//                     margin-bottom: 1.8rem;
//                     min-width: 100%;
//                     img{
//                         min-width: 100%;
//                     }
//                 }
//             }
            
//         }
//     }
    
// @media(max-width: 860px) {
    
//     .portfolio-standard {
//         padding: 0rem;
//         margin: 0 auto;
//         .my-row {
//             .my-col-right {
//                 .my-card {
//                     margin-bottom: 0.3rem;
//                 }
//             }
//         }
//     }
// }

// @media(max-width:560px) {
//     .portfolio-standard {
//         width: 100%;
//         max-height: auto;
//         padding: 0.5rem;
//         margin: 0 auto;
//         .my-row {
//             display: block;
//             overflow: hidden;
//             .my-col-left {
//                 display: block;
//                 position: relative;
//             }

//             .my-col-right {
//                 display: none;
//             }
//         }
//     }
// }



.portfolio-standard {
    position: relative;
    width: 100%;
    //max-height: 100vh;
    //permet à marquer les elements qui dépassent la taille initiale
    overflow: hidden;
    .my-row {
        display: grid;
        grid-template-columns: 2fr 1fr;
        .my-col-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

}

@media(max-width:460px) {
    //btn
    .my-btn {
        padding: 0.5rem 1rem;
        font-weight: bold;
        font-size: 12px;
    }

    .portfolio-standard {
        position: relative;
        width: 100%;
        max-height: 100vh;
        //permet à marquer les elements qui dépassent la taille initiale
        overflow: hidden;
        .my-row {
            grid-template-columns: 1fr;
            .my-col-right {
                display: none;
            }
        }

    }
}