.portfolio-3 {
    //max-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: auto;
    &-row{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
        max-height: 100%;
        max-width: 100%;
        &-left-side {
            width: 100%;
            object-fit: fill!important;
            overflow: hidden;
            border-right: 2px solid grey;

        }
        &-right-side {
            border-left: 2px solid grey;
            margin-left: 10%;
            width: 90%;
            overflow: hidden;
        }
    }

    &-my-slider {
        position: relative;
        max-height: 100%;
        max-width: 100%;
        &-inner {
            max-height: 100%;
            max-width: 100%;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 1rem;
            align-items: center;
            justify-content: center;
            justify-self: center;
            margin-bottom: -2rem;
            img {
                max-width: 100%;
            }
        }
    }
    .navegation-slider{
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: space-between;
        width: 90vw;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        i{
            font-size: 3rem;
            border: 2px solid #f4f4f4;
            border-radius: 50%;
            background: rgba($color: #f4f4f4, $alpha: 0);
            transition: all 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
                background: rgba($color: #f4f4f4, $alpha: 0.5);
            }
        }
        .slider-btn-left {

        }


    }
}

@media(max-width:960px) {
    .portfolio-3 {
        display: block;
        margin-bottom: 2rem;
    
        &-my-slider {
            &-inner {
                img {
                    max-width: 100%;
                }
            }
        }
        .navegation-slider{
            bottom: 25%;
            i{
                font-size: 2.5rem;
            }
        }
    }
    
}

@media(max-width:460px) {
    .portfolio-3 {
        display: grid;
        grid-template-rows:  1fr;
        margin-bottom: 2rem;
        &-row{
            grid-template-columns: 1fr;
            grid-gap: 1rem;
            &-left-side {
                border-right: 0;
    
            }
            &-right-side {
                display: none;
            }
        }
        &-my-slider {
            display: none;
        }
    }
}