/* PORTOFOLIO - PAGE*/
.portofolio
{
    max-width: 100vw;
    &-gallery {
        max-width: 90vw;
        margin: 0 auto;
    }
}

.card {
    &-image {
        position: relative;
        div {
            width: 100%;
            text-align: center;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            a {
                &.btn {
                    height: 55px;
                    width: 150px;
                    display: flex!important;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    border: 1px solid var(--primary-color);
                    color: var(--primary-color);
                    background-color: rgba(#f4f4f4,0.2);
                }
                text-align: center;
            }
        }
        .card-title {
            width: 100% !important;
            text-transform: uppercase !important;
            font-weight: bold;
            position: absolute;
            top: 0%;
            left: 50%;
            text-align: center;
            font-size: 200%;
            padding: 0 !important;
        }
        a {
            width: auto;
            position: absolute;
            top: 80%;
            left: 50%;
            font-size: 1.2rem;
            transform: translateX(-50%);
        }
    }
}