.portfolio-6 {
    width: 100%;
    
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0.4rem;
    .my-card {
        img {

        }
    }
    .portfolio-6-left {
        .portfolio-6-left-top {
            display: grid;
            grid-template-columns: 4fr 2fr;
            grid-template-rows: auto;
            grid-gap: 0rem;
            margin-bottom: 1rem;
            &-aside {
                img {
                    width: 90%;
                    margin-left: 7%;
                }
            }
        }
        .portfolio-6-left-bottom {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            grid-gap:0.5rem;
        }
    }
    .portfolio-6-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}

@media(max-width:760px) {
    .portfolio-6 {
        grid-template-columns: 1fr;
        .my-card {
            img {
                width: 100%;
            }
        }
        .portfolio-6-left {
            .portfolio-6-left-top {
                &-aside {
                    img {
                        width: 91%;
                    }
                }
            }
        }

        .portfolio-6-right {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            grid-gap:0.5rem;
        }
        
    }
}

@media(max-width:460px) {
    .portfolio-6 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        .portfolio-6-left {
            .portfolio-6-left-top {
                grid-template-columns: 1fr;
                &-aside {
                    display: none;
                }
            }
            .portfolio-6-left-bottom {
                display: none;
            }
        }
        .portfolio-6-right {
            display: none;
        }
    }
}