/*RESERVATION  PRICE - PAGE */

//MOBILE
.main {
    &-title {
        width: 100%;
    }
    #price {
        &>.container {
            padding-top: 2rem;
            margin-bottom: 3rem;
            & > .my-row {
                display: grid;
                grid-template-columns: 1fr;
                gap: 1rem;
                & > .my-col {
                    background: #fff;
                    -webkit-box-shadow: 1px 9px 15px -2px rgba(0, 0, 0, 0.29);
                    -moz-box-shadow: 1px 9px 15px -2px rgba(0, 0, 0, 0.29);
                    box-shadow: 1px 9px 15px -2px rgba(0, 0, 0, 0.29);
                    .my-cards {
                        &-image {
                        }
                        &-content {
                            &-details {
                                padding: 1rem;
                                .my-card-title {
                                    font-size: 1.7rem;
                                    font-weight: bold;
                                }
                                p {
                                    &:first-of-type {
                                        font-weight: bold;
                                        font-size: 1.5rem;
                                    }
                                }
                                span, p {
                                    text-align: center;
                                }
                                .book-price {
                                    text-align: center;
                                    font-size: 1.5rem;
                                    color: var(--primary-color);
                                }
                            }
                            &-action {
                                background-color: var(--primary-color);
                                .book {
                                    position: relative;
                                    top: 0!important;
                                    left:  0!important;
                                    right:  0!important;
                                    bottom:  0!important;
                                    color: white;
                                    display: inline-block;
                                    padding-top: .7rem;
                                    padding-bottom: .7rem;
                                    transform: translateX(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//TABLET
@media screen and (min-width : 725px) {
    .main {
        #price {
            &>.container {
                & > .my-row {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

//DESKTOP
@media screen and (min-width : 1024px) {
    .main {
        #price {
            &>.container {
                & > .my-row {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}