.showcase {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 99.2vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vw;
    overflow: hidden;
    &-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../images/showcase/showcase.jpg") no-repeat center center/cover;
        & > video {
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }
    }
    &-text {
        text-align: center;
        z-index: 10;
        h1 {
            margin: 6rem 0 5rem 0;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }

        p {
            font-size: 2rem;
            margin: 0 0 5rem 0;
            text-transform: uppercase;
        }

        .show-more {
            font-size: 2rem;
            margin: 0 0 5rem 0;
            text-transform: uppercase;
            background: transparent;
            border: 1px solid #fff;
            box-shadow: none;
            &:hover {
                background: rgba(255, 255, 255, 0.2);
                box-shadow: none;
            }
        }
    }
}
