@media(max-width:780px) {
    .main {
        .main-title {
            h1 {
                text-align: center;
                font-size: 2rem;
            }
        }
        #price {
            .my-row {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 1rem;
            }
        }
    }
    /*ARTICLES */
    #article-body-title {
        .articles {
            .card {
                &-image {
                    display: block;
                    width: 100%;
                    height: 100%;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                &-stacked {
                    .card-content {
                        padding: 1.2rem 1rem 0 1.2rem;
                    }
                    .article-right-side {
                        .autor-body {
                            h3 {
                                font-size: 1.2rem;
                                margin: 1rem auto 1rem auto;
                            }
                            p {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    //GALERY
    .portofolio-gallery {
        .container-fluid {
            position: relative;
            .galery-light-box {
                padding: 3rem 10% 3rem 10%;
                .card-image.portrait {
                    width: 55%;
                }
            }
        }
    }
    /* PORTOFOLIO - PAGE*/
    .portofolio-gallery {
        .container-fluid {
            .row {
                margin-bottom: 0;
                .col {
                    .card {
                        &-image {
                            .show-more {
                                display: block;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}