/*Container*/

.container {
    max-width: 1100px !important;
}

.container-fluid {
    width: 100vw;
    height: auto;
    padding: 1rem;
    margin: 0 auto;
}

//Image in the card
.my-card {
    position: relative;
    height: auto;
    display: block;
    img {
        border-radius: 0.4rem;
        border: 2px solid #f4f4f4;
        display: block;
        width: 100%;
        height: auto;
    }
    a {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.my-btn {
    padding: 1rem 2rem;
    display: block;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.3rem;
    background: rgba($color: #f4f4f4, $alpha: 0.0)!important;
    transition: all 0.3s ease-in-out;
    &:hover {
        background: rgba($color: #f4f4f4, $alpha: 0.4)!important;
    }
    &.outline {
        border: 1px solid #f4f4f4;
    }
    &-large {
        padding: 1.5rem 2.5rem;

        text-transform: uppercase;
    }

    &-danger {
        background:  #b10e0e!important;
        color:  #f4f4f4!important;
    }
}

/*Boucles*/

//Margin & padding classes m-1,m-2 m-etc
$spacemounts: (1, 2, 3, 4, 5);
@each $space in $spacemounts {
    .m-#{$space} {
        margin:#{$space}rem;
    }
    .my-#{$space} {
        margin:#{$space}rem 0;
    }
    .mb-#{$space} {
        margin-bottom:#{$space}rem;
    }
    .mt-#{$space} {
        margin-top:#{$space}rem;
    }
    .ml-#{$space} {
        margin-left:#{$space}rem;
    }
    .mr-#{$space} {
        margin-right:#{$space}rem;
    }
    .p-#{$space} {
        margin:#{$space}rem;
    }
    .py-#{$space} {
        margin:#{$space}rem 0;
    }
    .pb-#{$space} {
        padding-bottom:#{$space}rem;
    }
    .pt-#{$space} {
        padding-top:#{$space}rem;
    }
    .pl-#{$space} {
        padding-left:#{$space}rem;
    }
    .pr-#{$space} {
        padding-right:#{$space}rem;
    }
    .grid-#{$space} {
        display: grid;
        grid-template-columns: repeat(#{$space}, 1fr);
    }
}