@import "node_modules/materialize-css/sass/materialize";

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
h1 {
    font-size: 4rem;
}

img {
    width: 100%;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
    color: #333 !important;
}

/*SHOWCASE*/
@import "./pages/login";
@import "./pages/config";
@import "./pages/global";
@import "./pages/navbar";
@import "./pages/galery";
@import "./pages/showcase";
@import "./pages/portofolio";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/article";
@import "./pages/price";
@import "./pages/footer";
@import "./pages/tabletes";
@import "./pages/mobiles";
@import "./pages/portfolio_standard";
@import "./pages/portfolio_3";
@import "./pages/portfolio_4";
@import "./pages/portfolio_5";
