<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--FONT AWESOME-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <!--GOOGLE FONT -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--ANIMATIONS-->
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

        <title>{% block title %}{% trans %}MakingOffPhotos{% endtrans %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <!--NAV BAR -->
        <header id="header">
            <div class="navbar-cont">
                <!-- Dropdown Structure NAV BAR -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="{{ path('gallery') }}">GALLERIES</a></li>
                    <li><a href="{{ path('news') }}">NOUVEAUTÉS</a></li>
                </ul>

                <!-- Dropdown Structure SIDE BAR -->
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="{{ path('gallery') }}">GALLERIES</a></li>
                    <li><a href="{{ path('news') }}">NOUVEAUTÉS</a></li>
                </ul>

                <div class="navbar-fixed">
                    <nav>
                        <div class="nav-wrapper white">

                            <a href="{{ path('home') }}" class="brand-logo">
                                <img src="{{ asset('images/logo/logo2.png') }}" alt="" class="navbar-logo">
                            </a>

                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                                        class="material-icons">menu</i></a>
                            <ul class="right hide-on-med-and-down">
                                <li {% if active == "home" %}class="active"{% endif %}><a href="{{ path('home') }}">accueil</a></li>
                                <li {% if active == "portfolio" %}class="active"{% endif %}><a href="{{ path('portfolio') }}">portfolio</a></li>
                                <li {% if active == "gallery" %}class="active"{% endif %}>
                                    <a class="dropdown-trigger" href="#!" data-target="dropdown1">Galleries
                                        <i class="material-icons right">arrow_drop_down</i>
                                    </a>
                                </li>
                                <li {% if active == "price" %}class="active"{% endif %}><a href="{{ path('price') }}">réservation</a></li>
                                <li {% if active == "contact" %}class="active"{% endif %}><a href="{{ path('contact') }}">contact</a></li>
                            </ul>

                        </div>
                    </nav>
                </div>

                <!--SIDENAV -->
                <ul class="sidenav" id="mobile-demo">
                    <li {% if active == "home" %}class="active"{% endif %}><a href="{{ path('home') }}">accueil</a></li>
                    <li {% if active == "portfolio" %}class="active"{% endif %}><a href="{{ path('portfolio') }}">portfolio</a></li>
                    <li {% if active == "gallery" %}class="active"{% endif %}>
                        <a class="dropdown-trigger" href="#!" data-target="dropdown2">Galleries
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li {% if active == "price" %}class="active"{% endif %}><a href="{{ path('price') }}">réservation</a></li>
                    <li {% if active == "contact" %}class="active"{% endif %}><a href="{{ path('contact') }}">contact</a></li>

                </ul>

            </div>
        </header>

        {% block body %}{% endblock %}

        <!-- FOOTER -->
        <footer id="footer">
            <div class="container">
                <div class="social-network">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <p>&copy; 2021 by UNIXEL</p>
            </div>
        </footer>

        <!--ANIMATIONS SCRIPT-->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    </body>
</html>
