{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block body %}

    <main class="main">

        <div class="main-title">
            <h1>Contact</h1>
        </div>

        <section id="contact">

            <div class="container">

                <div class="row">
                    <!-- Image - Card -->
                    <div class="col s12 m6">
                        <div class="contact-img">
                            <img src="../images/portofolio/portofolio-7.jpg" alt="portofolio image">
                        </div>
                    </div>

                    <div class="col s12 m6">
                        <div class="row">
                            <div class="contact-description">
                                <h4>{% trans %}Pierre JACOBY{% endtrans %}</h4>
                                <p>Salut!</p>
                                <p>Je suis spécialisé dans le portrait et le mariage. Je travaille aussi avec les stylistes.
                                Souvent, je me retrouve entrain de travailler avec les enfants, les femmes enceintes et autres.</p>

                                <p>Je pensais que prendre des photos me suffisait, mais non!. Alors, j'ai monté avec un associé
                                une équipe offrant deux services en un :</p>
                                <ul>
                                    <li>- Shooting</li>
                                    <li>- Filmage</li>
                                </ul>
                                <br><br>

                                <div id="address">
                                    <p>
                                        17 Route de rhin
                                        <br> 67000 Strasbourg.
                                        <br> Tél: 0753800611.
                                        <br>contact@gallery.tutofree.fr
                                    </p>
                                </div>

                            </div>

                            <div class="col s12 m12" id="reservation">
                                <div class="contact-bottom row">
                                    <form class="col s12">
                                        <div class="row">

                                            <div class="input-field col s12 m12">
                                                <input placeholder="Tapez votre prénom" id="last_name" type="text" class="validate">
                                                <label for="last_name">Prénom</label>
                                            </div>

                                            <div class="input-field col s12 m12">
                                                <input placeholder="Tapez votre é-mail" id="email" type="email" class="validate">
                                                <label for="email">E-mail</label>
                                            </div>

                                            <div class="input-field col s12 m12">
                                                <input placeholder="subject" id="subject" type="text" class="validate">
                                                <label for="subject">Sujet</label>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="textarea2" class="materialize-textarea" data-length="500"></textarea>
                                                    <label for="textarea2">Textarea</label>
                                                </div>
                                            </div>

                                            <div class="row" align="right">
                                                <button class="waves-effect waves-light btn-large blue">Envoyer</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>

{% endblock %}
