{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Gallery{% endtrans %}
{% endblock %}

{% block body %}

    <main class="main">
        <div class="main-title">
            <h1>GALLERIES</h1>
        </div>

        <section class="portofolio-gallery">

            <div class="container-fluid">
                <div class="row">
                    <!-- Image - Card -->
                    <div class="col s12 m4">
                        <div class="row">

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image portrait">
                                        <img src="../images/portofolio/portofolio-8.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image paysage ">
                                        <img src="../images/paysage/publicity.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image portrait">
                                        <img src="../images/portofolio/portofolio-2.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image paysage">
                                        <img src="../images/paysage/paysage-3.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="row">

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image portrait">
                                        <img src="../images/portofolio/portofolio-4.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image paysage">
                                        <img src="../images/paysage/shooting2.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image portrait">
                                        <img src="../images/portofolio/portofolio-7.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image paysage">
                                        <img src="../images/paysage/paysage-1.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="row">

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image paysage">
                                        <img src="../images/paysage/paysage-7.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>



                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image portrait">
                                        <img src="../images/portofolio/portofolio-11.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image paysage">
                                        <img src="../images/paysage/paysage-2.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>
                            <div class="col s12 m12 galery-img" data-aos="flip-up">
                                <div class="card">
                                    <div class="card-image portrait">
                                        <img src="../images/portofolio/portofolio-9.jpg" alt="portofolio image" class="materialboxed">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </section>
    </main>
{% endblock %}


