{% extends 'base.html.twig' %}

{% block title %} {% trans %}Home{% endtrans %}{% endblock %}

{% block body %}
    <!-- BANNER - SHOWCASE-->
    <section class="showcase" data-aos="lift-left">

        <div class="showcase-video">
            <video src="{{ asset('videos/production ID_4193140_bis.mp4') }}" autoplay muted loop></video>
        </div>

        <div class="showcase-text" data-aos="fade-right" data-aos-id="devise">
            <h1 class="white-text">Making off Photos</h1>
            <p class="white-text" id="devise">Votre choix, c'est notre preference</p>
            <a href="{{ path('portfolio') }}" class="waves-effect waves-light btn-large show-more">Voir
                plus</a>
        </div>

    </section>
{% endblock %}
