{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}News{% endtrans %}
{% endblock %}

{% block body %}

    <main class="main">
        <div class="main-title">
            <h1>{% trans %}Articles{% endtrans %}</h1>
        </div>

        <div id="article-body-title" class="container">

            <section class="article-search-bar">
                <nav class="white black-text">
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" placeholder="Recherches..." required>
                                <label class="label-icon " for="search"><i
                                            class="material-icons black-text ">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                        <div id="author-avatar" hidden>
                            <img src="../images/avatar/me.jpg" alt="image de l'auteur de l'article">
                        </div>
                    </div>
                </nav>
            </section>

            <section class="articles">

                <div class="col s12 m12" id="article-1 " data-aos="zoom-in ">

                    <div class="card horizontal">

                        <div class="card-image">
                            <img src="../images/paysage/paysage-2.jpg">
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <div class="col s12 m6 article-right-side">
                                    <div class="row">
                                        <div class="col s2">
                                            <img src="../images/paysage/paysage-2.jpg" alt="" class="">
                                        </div>

                                        <div class="col s10">
                                            <p class="black-text"> Senhor Ingénière Bonjour
                                                <i class="material-icons right author-more-vert">more_vert</i>
                                            </p>
                                            <p class="date"> Jully 1 - 1 Min</p>
                                        </div>

                                    </div>

                                    <div class="autor-body">
                                        <h3>The Girls Black Lives Matter </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                    </div>
                                </div>

                                <!--Message caché-->
                                <div class="card-content-b " data-aos="fade-up">
                                    <div class="col s12 m6 article-right-side">
                                        <i class="material-icons article-close">close</i>

                                        <div class="autor-body">
                                            <h3>The Girls Black Lives Matter </h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="#" class="btn blue">Read More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-action">
                                <p>0 vus &Tab; 0 Commentaires</p>
                                <span class="autor-like"><i class="far fa-heart"></i></span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col s12 m12" id="article-2" data-aos="zoom-in ">
                    <div class="card horizontal">

                        <div class="card-image">
                            <img src="../images/paysage/paysage-3.jpg">
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <div class="col s12 m6 article-right-side">
                                    <div class="row">
                                        <div class="col s2">
                                            <img src="../images/paysage/paysage-3.jpg" alt="" class="">
                                        </div>

                                        <div class="col s10">
                                            <p class="black-text"> Docteur Ingénière Bonjour
                                                <i class="material-icons right author-more-vert">more_vert</i>
                                            </p>
                                            <p class="date"> July 1 - 1 Min</p>
                                        </div>

                                    </div>

                                    <div class="autor-body">
                                        <h3>Tout va bien </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                    </div>
                                </div>

                                <!--Message caché-->
                                <div class="card-content-b " data-aos="fade-up">
                                    <div class="col s12 m6 article-right-side">
                                        <i class="material-icons article-close">close</i>

                                        <div class="autor-body">
                                            <h3>The Girls Black Lives Matter </h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="#" class="btn blue">Read More</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-action">
                                <p>0 vus &Tab; 0 Commentaires</p>
                                <span class="autor-like"><i class="far fa-heart"></i></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col s12 m12" id="article-3 " data-aos="zoom-in ">
                    <div class="card horizontal">

                        <div class="card-image">
                            <img src="../images/paysage/paysage-4.jpg">
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <div class="col s12 m6 article-right-side">
                                    <div class="row">
                                        <div class="col s2">
                                            <img src="../images/paysage/paysage-4.jpg" alt="" class="">
                                        </div>

                                        <div class="col s10">
                                            <p class="black-text"> Senhor Ingénière Bonjour
                                                <i class="material-icons right author-more-vert">more_vert</i>
                                            </p>
                                            <p class="date"> Jully 1 - 1 Min</p>
                                        </div>

                                    </div>

                                    <div class="autor-body">
                                        <h3>The Girls Black Lives Matter </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                    </div>
                                </div>

                                <!--Message caché-->
                                <div class="card-content-b " data-aos="fade-up">
                                    <div class="col s12 m6 article-right-side">
                                        <i class="material-icons article-close">close</i>

                                        <div class="autor-body">
                                            <h3>The Girls Black Lives Matter </h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="#" class="btn blue">Read More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="card-action">
                                <p>0 vus &Tab; 0 Commentaires</p>
                                <span class="autor-like"><i class="far fa-heart"></i></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col s12 m12" id="article-4" data-aos="zoom-in ">
                    <div class="card horizontal">

                        <div class="card-image">
                            <img src="../images/paysage/paysage-3.jpg">
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <div class="col s12 m6 article-right-side">
                                    <div class="row">
                                        <div class="col s2">
                                            <img src="../images/paysage/paysage-3.jpg" alt="" class="">
                                        </div>

                                        <div class="col s10">
                                            <p class="black-text"> Docteur Ingénière Bonjour
                                                <i class="material-icons right author-more-vert">more_vert</i>
                                            </p>
                                            <p class="date"> Jully 1 - 1 Min</p>
                                        </div>

                                    </div>

                                    <div class="autor-body">
                                        <h3>Tout va bien </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                    </div>
                                </div>

                                <!--Message caché-->
                                <div class="card-content-b " data-aos="fade-up">
                                    <div class="col s12 m6 article-right-side">
                                        <i class="material-icons article-close">close</i>

                                        <div class="autor-body">
                                            <h3>The Girls Black Lives Matter </h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="#" class="btn blue">Read More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-action">
                                <p>0 vus &Tab; 0 Commentaires</p>
                                <span class="autor-like"><i class="far fa-heart"></i></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col s12 m12" id="article-5 " data-aos="zoom-in ">
                    <div class="card horizontal">

                        <div class="card-image">
                            <img src="../images/paysage/paysage-5.jpg">
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <div class="col s12 m6 article-right-side">
                                    <div class="row">
                                        <div class="col s2">
                                            <img src="../images/paysage/paysage-5.jpg" alt="" class="">
                                        </div>

                                        <div class="col s10">
                                            <p class="black-text"> Senhor Ingénière Bonjour
                                                <i class="material-icons right author-more-vert">more_vert</i>
                                            </p>
                                            <p class="date"> Jully 1 - 1 Min</p>
                                        </div>

                                    </div>

                                    <div class="autor-body">
                                        <h3>The Girls Black Lives Matter </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                    </div>
                                </div>

                                <!--Message caché-->
                                <div class="card-content-b " data-aos="fade-up">
                                    <div class="col s12 m6 article-right-side">
                                        <i class="material-icons article-close">close</i>

                                        <div class="autor-body">
                                            <h3>The Girls Black Lives Matter </h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="#" class="btn blue">Read More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>



                            <div class="card-action">
                                <p>0 vus &Tab; 0 Commentaires</p>
                                <span class="autor-like"><i class="far fa-heart"></i></span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col s12 m12" id="article-6" data-aos="zoom-in ">
                    <div class="card horizontal">

                        <div class="card-image">
                            <img src="../images/paysage/paysage-6.jpg">
                        </div>

                        <div class="card-stacked">

                            <div class="card-content">
                                <div class="col s12 m6 article-right-side">
                                    <div class="row">
                                        <div class="col s2">
                                            <img src="../images/paysage/paysage-6.jpg" alt="" class="">
                                        </div>

                                        <div class="col s10">
                                            <p class="black-text"> Docteur Ingénière Bonjour
                                                <i class="material-icons right author-more-vert">more_vert</i>
                                            </p>
                                            <p class="date"> Jully 1 - 1 Min</p>
                                        </div>

                                    </div>

                                    <div class="autor-body">
                                        <h3>Tout va bien </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                    </div>
                                </div>

                                <!--Message caché-->
                                <div class="card-content-b " data-aos="fade-up">
                                    <div class="col s12 m6 article-right-side">
                                        <i class="material-icons article-close">close</i>

                                        <div class="autor-body">
                                            <h3>The Girls Black Lives Matter </h3>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem est nobis adipisci eaque. Quam inventore recusandae blanditiis modi iste eius?</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="#" class="btn blue">Read More</a>

                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="card-action">
                                <p>0 vus &Tab; 0 Commentaires</p>
                                <span class="autor-like"><i class="far fa-heart"></i></span>
                            </div>
                        </div>

                    </div>
                </div>

            </section>

        </div>

    </main>
{% endblock %}


