{% extends 'base.html.twig' %}

{% block title %}{{ title | trans }}{% endblock %}

{% block body %}
    {#  PORTFOLIO  #}
    <main class="main portofolio">

        <div class="main-title">
            <h1 class="center">{{ title | trans }}</h1>
        </div>

        <section class="portofolio-gallery">
            <div class="container-fluid">

                <div class="row" id="portfolio_scss">
                    <!-- Image - Card -->
                    <div class="row">
                        <div class="col s12 m4" data-aos="fade-left">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portfolio/pregn.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-right">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portfolio/wedding.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-right">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portfolio/baby.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m4" data-aos="fade-down">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portfolio/birthday.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-right">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portfolio/shooting.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-left">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portofolio/portofolio-6.jpg" alt="portofolio image">
                                    <div>
                                        <a href="#" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m4" data-aos="fade-left">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portofolio/portofolio-8.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-right">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portofolio/portofolio-9.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-right">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portofolio/portofolio-10.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12 m4" data-aos="fade-right">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portofolio/portofolio-11.jpg" alt="portofolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4" data-aos="fade-top">
                            <div class="card">
                                <div class="card-image">
                                    <img src="../images/portofolio/portofolio-12.jpg" alt="portfolio image">
                                    <div>
                                        <a href="{{ path('portfolio_show', {'slug': 'x'}) }}" class="waves-effect waves-light btn show-more">Voir plus</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>

    </main>
{% endblock %}
