{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}Booking{% endtrans %}
{% endblock %}

{% block body %}

    <main class="main">
        <div class="main-title">
            <h1>{% trans %}Booking & Pricing{% endtrans %}</h1>
        </div>

        <section id="price">
            <div class="container">

                <div class="my-row">

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/shooting2.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">SHOOTING PHOTO</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">99 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/pregnant.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">SEANCE GROSSESSE PARK</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">99 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/paysage-10.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">SEANCE BEBE</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">99 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/wedding.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">MARIAGE</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">120 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/wedding.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">MARIAGE</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">120 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/paysage-4.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">DOTE</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">120 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/birthday.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">ANNIVERSAIRE</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">120 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- Image - Card -->
                    <div class="my-col" data-aos="flip-left">

                        <div class="my-cards">

                            <div class="my-cards-image">
                                <img src="../images/paysage/familly.jpg">
                            </div>

                            <div class="my-cards-content">

                                <div class="my-cards-content-details">
                                    <p class="my-cards-title">SEANCE FAMILLE PHOTO</p>
                                    <p class="blue-text">2h de séance photo</p><br>
                                    <ul>
                                        <li>Seule ou en couple</li>
                                        <li>5 Photos numériques HD</li>
                                        <li>4 Jours ouverts</li>
                                        <li>5 Impressions</li>
                                        <li>Tenue à ramener.</li>
                                    </ul>
                                    <p>Avec un album</p>
                                    <p>Sans livre photos à partir de </p>
                                    <p class="book-price">120 €</p>
                                </div>

                                <div class="my-cards-content-action" align="center">
                                    <a href="{{ path('contact') }}#reservation" class="book">{% trans %}Book now!{% endtrans %}</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    </main>

{% endblock %}


