@media screen and(min-width : 1024px) {
     .container {
          max-width: 1300px!important;
          margin: 0 auto;
     }

     .main{

          //SHOWCASE
          &-showcase{
               min-height: 90vh;
               @include background-svg("../../public/images/wave/desktop/showcase.svg", bottom);
               padding-bottom: 25rem;
          }

          //PLATEFORM
          &-plateform {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 12rem;
               &-cards {
                    grid-template-columns: repeat(4, 1fr);
               }
          }

          //TOOLS
          &-tools {
               @include background-svg("../../public/images/wave/desktop/showcase.svg", bottom);
               padding-bottom: 13rem;
               &-cards {
                    grid-template-columns: repeat(3,1fr);
                    gap: 2rem;
                    .main-cards-card {
     
                         &#prospect {
                              @include card($prospect-color)
                         }
     
                         &#site {
                              @include card($site-color)
                         }
     
                         &#emailing {
                              @include card($mailing-color)
                         }
                    }
               }
          }

          //CLIENTS
          &-clients {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 15rem;
          }

          //DASHBORAD
          &-dashboard{
               max-width: 100%;
               background-color: $white-color;
               @include background-svg("../../public/images/wave.svg", bottom);
               padding-bottom: 18rem;
               &-image {
                    max-width: inherit;
                    img {
                         width: 100%;
                         display: block;
                    }
               }
          }

          //INTERFACE
          &-interface {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 15rem;
               &-icons {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 2rem;
               }
          }

          //CONTACT
          &-contact {
               @include background-svg("../../public/images/wave/desktop/showcase.svg", bottom);
               padding-bottom: 14rem;
               &-form {
                    width: 600px;
               }
          }

          //CONDITIONS
          &-conditions {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 12rem;
               &-contents {
                    .content {
                         h3 {
                              font-size: 1.6rem;
                              padding: .5rem 0;
                              text-align: center;
                         }
                         h4 {
                              font-size: 1.3rem;
                              padding: .5rem 0;
                              text-align: center;
                         }

                         p {
                              font-size: 1rem;
                              margin-bottom: 1.5rem;
                         }
     
                         ul {
                              padding: 1rem 2rem;
                              li {
                                   font-size: .8rem;
                              }
                         }
                    }
               }
          }

          //STAT NOW
          &-start_now {
               @include background-svg("../../public/images/footer/footer_wave_desktop.svg", bottom);
               padding-bottom: 12rem;
               &-items {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 2rem;
                    
                    &-item {
                         box-shadow: 
                         1px 1px 2px rgba($color: #000000, $alpha: .2),
                         -1px 1px 2px rgba($color: #000000, $alpha: .2);
                         border-radius: .2rem;
                         overflow: hidden;
                         display: flex;
                         flex-direction: column;
                         justify-content: space-between;
                         .item {
                              &-title {
                                   background-color: $primary-color;
                                   padding: .5rem 1rem;
                                   text-align: center;
                                   color: $white-color;
                              }
                              &-svg {
                                   width: 150px;
                                   margin: 0 auto;
                                   padding: 1.9rem;
                                   svg {
                                        fill: $primary-color;
                                   }
                              }
                              &-text {
                                   background-color: $grey-light-color;
                                   padding: 1rem;
                                   p {
                                        font-size: 1rem;
                                   }
                              }
                         }
     
                    }
               }
          }
     }

     //FOOTER
     .footer {
          max-width: 100%;
          padding: 1rem;
          &-items {
               display: grid;
               grid-template-columns: repeat(4,1fr);
               &-icons {
                    padding: 1rem;
               }
          }
          &>.container > nav {
               &>ul {
                    flex-direction: row;
                    li {
                         padding: .5rem 1rem;
                    }
               }
          }
     }
}