@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins';
}
:root {
     --animate-delay: 5s;
     --animate-duration: 1s;
}
body {
     max-width: 100vw;
}

a {
     text-decoration: none;
}

.main {
     h1, h2, h3, h4, h5 {
          font-family: 'Poppins';
          font-weight: 500;
          // padding: .5rem;
     }

  
     
     .container{
          display: block;
          padding: 1rem;
          max-width: 100vw;
     }

     .main-subtitle {
          font-size: 1.5rem;
          text-align: center;
          line-height: 1.3;
          padding-bottom:2rem;
     }

     //Animation for button on CARD class
     .main-cards-card {
          background-color: $grey-light-color;
          border-radius: .1rem;
          box-shadow: 1px 1px 2px rgba($color: $dark-color, $alpha: .2);
          padding: 2rem 1rem;
          .card-svg {
               width: 150px;
               height: 150px;
               margin: 0 auto;
               border-radius: 50%;
               overflow: hidden;
               img {
                    width: 100%;
               }
          }

          .card-text {
               text-align: center;
               line-height: 2;
               h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    padding: 1rem 0;
               }
               &>div>p {
                    &:last-of-type {
                         font-size: 2rem;
                         font-weight: 700;
                         span {
                              font-size: medium;
                              font-weight: 400;
                         }
                    }
               }
               
          }

          div.hover {
               position: relative;
               transition: all .3s ease-in-out;
               width: 100%;
               height: 60px;
               margin: auto;
               overflow: hidden;
               border-radius: .2rem;
               p {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                    transition: all .3s ease-in-out;
               }
               
               a {
                    width: 70%;
                    position: absolute;
                    display: inline-block;
                    padding: .9rem 1rem;
                    border-radius: .2rem;
                    left: 50%;
                    top: 150px;
                    transform: translate(-50%, -50%);
                    transition: all .3s ease-in-out;
               }
               
               &:hover {
                    p {
                         top: 90px;
                    }
                    a {
                         top: 50%;
                    }
               }
          }
          &:hover {
               div.hover {
                    p {
                         top: 90px;
                    }
                    a {
                         top: 50%;
                    }
               }
          }
     }
}

