.header {
     max-width: 100vw;
     &-inner {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: $primary-color;
          padding: .5rem 1rem;
        &-left {
             width: 150px;
             img {
                  width: 100%;
                  display: block;
             }
        }

        &-right{
             display: none;
        }

     &-humburger{
          cursor: pointer;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          overflow: hidden;
          span {
               display: inline-block;
               width: 40px;
               height: 7px;
               background-color: $white-color;
               position: relative;
               &::before {
                    content: "";
                    position: absolute;
                    top: -13px;
                    width: 50px;
                    height: 7px;
                    background-color: $white-color;
               }
               &::after {
                    content: "";
                    position: absolute;
                    top: 13px;
                    width: 25px;
                    height: 7px;
                    background-color: $white-color;
               }
          }
     }
   }
}

.main {

     max-width: 100vw;

     //SHOWCASE
     &-showcase{
          max-width: 100vw;
          height: 250px;
          position: relative;
          background-color: $white-color;
          overflow: hidden;
          @include background-svg("../../public/images/wave/mobile/wave.svg", bottom);
          &-image {
               display: flex;
               position: relative;
               img {
                    width: 90%;
                    &:last-of-type {
                         position: absolute;
                         width: 20%;
                         right: 0;
                         bottom: -15%;
                    }
               }
          }
     }

     //PLATEFORM
     &-plateform {
          min-width:inherit;
          background-color: $grey-light-color;
          @include background-svg("../../public/images/wave/mobile/wave_white.svg", bottom);
          padding-bottom: 6rem;
          &-cards {
               display: grid;
               grid-template-columns: 1fr;
               gap: 1rem;
               justify-content: center;
               background-position: bottom;
               background-repeat: no-repeat;
               background-size: cover;
               .main-cards-card {
                    background-color: $white-color;
                    border-radius: .5rem;
                    box-shadow: 1px 2px 4px rgba($color: $dark-color, $alpha: .2);
                    //email
                    &#email {
                         @include card($email-color);
                         @include card-h3-color($email-color);
                    }
                    //mms
                    &#mms {
                         @include card($mms-color);
                         @include card-h3-color($mms-color);
                    }
                    //courrier
                    &#courrier {
                         @include card($courrier-color);
                         @include card-h3-color($courrier-color);
                    }
                    //vocal
                    &#vocal {
                         @include card($vocal-color);
                         @include card-h3-color($vocal-color);
                    }
                    //sms
                    &#sms {
                         @include card($sms-color);
                         @include card-h3-color($sms-color);
                    }
               }
          }
     }

     //TOOLS
     &-tools {
          max-width: 100%;
          background-color: $white-color;
          @include background-svg("../../public/images/wave/mobile/wave.svg", bottom);
          padding-bottom: 6rem;
          &-cards {
               display: grid;
               grid-template-columns: 1fr;
               gap: 1rem;
               .main-cards-card {

                    &#prospect {
                         @include card($prospect-color)
                    }

                    &#site {
                         @include card($site-color)
                    }

                    &#emailing {
                         @include card($mailing-color)
                    }
               }
          }
     }

     //CLIENTS
     &-clients {
          max-width: 100vw;
          background-color: $grey-light-color;
          @include background-svg("../../public/images/wave/mobile/wave_white.svg", bottom);
          padding-bottom: 6rem;
          .glide {
               overflow: hidden;
               border-left:3px solid $grey-color;
               border-right:3px solid $grey-color;
          }
          &-carousel {
               display: flex;
               flex-direction: row;
               align-items: center;
               .glide__slide {
                    width: 300px;
                    background-color: $white-color;
                    border-radius: .2rem;
                    overflow: hidden;
                    box-shadow: 0px 0px 3px rgba($color: #000000, $alpha: .2);
                    img{
                         width: 100%;
                         display: block;
                    }
               }
          }
     }

     //DASHBORAD
     &-dashboard{
          max-width: 100%;
          background-color: $white-color;
          @include background-svg("../../public/images/wave.svg", bottom);
          padding-bottom: 6rem;
          &-image {
               max-width: inherit;
               img {
                    width: 100%;
                    display: block;
               }
          }
     }

     //INTERFACE
     &-interface {
          max-width: 100%;
          background-color: #0099ff;
          @include background-svg("../../public/images/wave/mobile/wave_white.svg", bottom);
          padding-bottom: 6rem;
          color: $white-color;
          &-icons {
               display: grid;
               grid-template-columns: 1fr;
               gap: 1rem;
               text-align: center;
               &-icon {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .icon {
                         &-svg {
                              width: 150px;
                              margin: 0 auto;
                              svg {
                                   width: 100px;
                                   fill: $white-color;
                              }
                            
                         }
                         &-text {
                              line-height: 2;
                              h4 {
                                   font-weight: 600;
                              }
                         }
                    }
                    &:first-of-type {
                         .icon {
                              &-svg {
                                   svg {
                                        width: 120px;
                                   }
                              }
                         }
                    }
                    &:last-of-type {
                         .icon {
                              &-svg {
                                   svg {
                                        width: 80px;
                                   }
                              }
                         }
                    }
               }
          }
     }

     //CONTACT
     &-contact {
          max-width: 100%;
          background-color: $white-color;
          @include background-svg("../../public/images/wave/mobile/wave.svg", bottom);
          padding-bottom: 6rem;
          &-title {
               h2 {
                    margin: 0;
                    padding-bottom: 0!important;
               }
               p {
                    text-align: center;
                    padding: 1rem 0;
                    font-size: 1.2rem;
               }
          }
          
          &-form {
               padding: 2rem 0;
               form {
                    display: flex;
                    flex-direction: column;
                    input,button{
                         font-size: 1.1rem;
                         margin: .5rem 0;
                         outline: none;
                         border: 0;
                         padding: .8rem;
                         background-color: darken($color: $grey-light-color, $amount: 10) ;
                    }
                    button {
                         background-color: #0099ff;
                         color: $white-color;
                         border-radius: .2rem;
                         transition: background-color .2s ease-in-out;
                         &:hover {
                              cursor: pointer;
                              background-color: lighten($color: #0099ff, $amount:20);
                         }
                    }
               }
          }
     }

     //CONDITIONS
     &-conditions {
          max-width: 100%;
          background-color: $grey-light-color;
          @include background-svg("../../public/images/wave/mobile/wave_white.svg", bottom);
          padding-bottom: 6rem;
          hr {
               color: $grey-light-color;
          }
          &-title {
               text-align: center;
               h2 {
                    padding-bottom: 0!important;
               }
               p {
                    padding: 1rem 0;
                    font-size: 1.2rem;
               }
          }

          &-contents {
               .content {
                    line-height: 1.6rem;
                    padding: 1rem 0;
                    h3 {
                         padding: .5rem 0;
                         text-align: center;
                    }
                    h4 {
                         padding: .5rem 0;
                         text-align: center;
                    }
                    p {
                         font-size: .8rem;
                         text-align: justify;
                         margin-bottom: 1rem;
                    }

                    ul {
                         padding: 0 1rem;
                         li {
                              font-size: .7rem;
                         }
                    }
               }
          }
     }

     //STAT NOW
     &-start_now {
          max-width: 100%;
          background-color: $white-color;
          @include background-svg("../../public/images/footer/footer_wave.svg", bottom);
          padding-bottom: 6rem;
          &-items {
               display: grid;
               grid-template-columns: 1fr;
               gap: 1rem;
               
               &-item {
                    box-shadow: 
                    1px 1px 2px rgba($color: #000000, $alpha: .2),
                    -1px 1px 2px rgba($color: #000000, $alpha: .2);
                    border-radius: .2rem;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .item {
                         &-title {
                              background-color: $primary-color;
                              padding: .5rem 1rem;
                              text-align: center;
                              color: $white-color;
                         }
                         &-svg {
                              width: 150px;
                              margin: 0 auto;
                              padding: 1.9rem;
                              svg {
                                   fill: $primary-color;
                              }
                         }
                         &-text {
                              background-color: $grey-light-color;
                              padding: 1rem;
                              p {
                                   font-size: 1rem;
                              }
                         }
                    }

               }
          }
     }
}

//FLOAT OPTIONS
.float {
     position: fixed;
     bottom:  20px;
     right: 20px;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: $primary-color;
     display: flex;
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
     transition: all .3s ease-in;
     cursor: pointer;
     a {
          color: $white-color;
          font-size: 1.3rem;
     }
     &-inner {
          transition: all .3s ease-in;
          display: none;
     }
     &.active {

          .float-inner {
               position: relative;
               top: -180px;
               width: 50px;
               display: block;
               &-items {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    li {
                         width: 50px;
                         height: 50px;
                         border-radius: 50%;
                         margin: .2rem 0;
                         box-shadow: 2px 2px 2px rgba($color: $dark-color, $alpha: .2);
                         transform: scale(0);
                         transition: all .2s ease-in-out;
                         &:hover {
                              box-shadow: none;
                         }
                         &.active {
                              transform: scale(1);
                         }
                    }
               }
          }
     }
}

//HUMBURGER-NAV
.humburger {
     position: fixed;
     max-width: 100vw;
     max-height: 100vh;
     padding: 1rem;
     top: 0;
     bottom: 0;
     left: -100vw;
     overflow: hidden;
     background: $primary-color;
     display: grid;
     place-items: center;
     z-index: 10;
     transition: all .2s ease-in-out;
     &-nav {
          display: flex;
          flex-direction: column;
          align-items: center;
          list-style: none;
          li {
               margin: 1rem 0;
               a {
                    display: inline-block;
                    padding: .7rem 1.3rem;
                    background-color: $primary-color;
                    color: $white-color;
                    border-radius: 5rem;
                    text-transform: capitalize;
                    box-shadow: 1px 2px 3px rgba($color: #000000, $alpha: .2);
               }
               &:first-of-type {
                    a {
                         background-color: $success-color;
                    }
               }
               &:last-of-type {
                    a {
                         background-color: $white-color;
                         color: $primary-color;
                    }
               }
          }
     }

     &-close {
          position: absolute;
          top: 20px;
          right: 20px;
          i {
               font-size: 1.8rem;
               cursor: pointer;
               color: $prospect-color;
          }
     }
     &.active {
          right: 0;
          left: 0;
     }
}

//FOOTER
.footer {
     max-width: 100%;
     background-color: $footer-color;
     padding: 1rem;
     &-items {
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;

          &-logo {
               padding: 1rem;
               color: $white-color;
               div {
                    width: 200px;
                    img {
                         width: 100%;
                    }
               }
          }

          &-icons {
               padding: 1rem;
               ul {
                    display: flex;
                    flex-direction: column;
                    li {
                         list-style: none;
                         color: $white-color;
                         padding: .5rem 0;
                         display: flex;
                         align-items: center;
                         i {
                              font-size: 1.5rem;
                              padding-right: 1rem;
                         }
                         a {
                              color: $white-color;
                              text-decoration: none;
                              &:hover {
                                   color: $primary-color;
                              }
                         }
                    }
               }
          }

          &-label, &-cnil {
               padding: 1rem;
               color: $white-color;
               text-align: center;
               &>div {
                    max-width: 200px;
                    margin: auto;
                    
                    svg,g, path {
                         fill: $white-color!important;
                    }
                    svg {
                         width: 100%;
                    }
               }
          }
     }

     &>.container > nav {
          &>ul {
               display: flex;
               flex-direction: column;
               justify-content: center;
               text-align: center;
               li {
                    list-style: none;
                    padding: .5rem 0;
                    a {
                         text-decoration: none;
                         color: $white-color;
                         transition: all .2s ease-in-out;
                         &:hover {
                              color: $primary-color;
                         }
                    }
               }
          }
     }
}

