@media screen and (min-width : 725px) {
     //HEADER 

     .header {
          max-width: 100vw;
          &-inner {
               display: flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
             background-color: $primary-color;
             padding: .5rem 1rem;
             &-left {
                  width: 150px;
                  img {
                       width: 100%;
                       display: block;
                  }
             }

             &-right{
                  display: block;
                  &-nav {
                       ul {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            & >li{
                              list-style: none;
                              a {
                                   text-decoration: none;
                                   display: inline-block;
                                   padding: .5rem 1.3rem;
                                   margin: 0 .3rem;
                                   border-radius: 5rem;
                                   font-size: 1.1rem;
                                   font-weight: 500;
                                   transition: all .2s ease-in-out;
                                   text-transform: capitalize;

                              }
                              &:first-of-type {
                                   a {
                                        background-color: $success-color;
                                        color: $white-color;
                                        &:hover {
                                             background-color: rgba($color: $success-color, $alpha: .6);
                                        }
                                   }
                              }
                              &:last-of-type {
                                   a {
                                        background-color: $white-color;
                                        color: $primary-color;
                                        &:hover {
                                             background-color: rgba($color: $white-color, $alpha: .6);
                                        }
                                   }
                              }
                            }
                       }
                  }
             }

          &-humburger{
               display: none;
          }
        }
     }


     .main{

          .main-subtitle {
               font-size: 2.5rem;
               text-align: center;
               line-height: 1.3;
               padding-bottom: 4rem;
          }

          //SHOWCASE
          &-showcase{
               overflow: hidden;
               height: 55vh;
               place-items: center;
               @include background-svg("../../public/images/wave/desktop/showcase.svg", bottom);
               padding-top: 2rem;
          }

          //PLATEFORM
          &-plateform {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 8rem;
               &-cards {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
               }
          }

          //TOOLS
          &-tools {
               @include background-svg("../../public/images/wave/desktop/showcase.svg", bottom);
               padding-bottom: 8rem;
               &-cards {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
               }
          }

          //CLIENTS
          &-clients {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 10rem;
          }

          //DASHBORAD
          &-dashboard{
               @include background-svg("../../public/images/wave.svg", bottom);
               padding-bottom: 10rem;
          }
     
          //INTERFACE
          &-interface {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 8rem;
               &-icons {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
               }
          }
     
          //CONTACT
          &-contact {
               @include background-svg("../../public/images/wave/desktop/showcase.svg", bottom);
               padding-bottom: 8rem;
               &-form {
                    width: 600px;
                    margin: 0 auto;
                    form {
                         button {
                              width: 250px;
                              align-self: flex-end;
                         }
                    }
               }
          }
     
          //CONDITIONS
          &-conditions {
               @include background-svg("../../public/images/wave/desktop/body_white_all.svg", bottom);
               padding-bottom: 6rem;
          }

          //STAT NOW
          &-start_now {
               @include background-svg("../../public/images/footer/footer_wave_desktop.svg", bottom);
               padding-bottom: 8rem;
               &-items {
                    grid-template-columns: repeat(2, 1fr);
                    gap: 2rem;
               }
          }
     }


     //HUMBURGER-NAV
     .humburger {
          display: none;
     }


     //FOOTER
     .footer {
          &-items {
               grid-template-columns: repeat(2, 1fr);
               gap: 1rem;
          }
     }

}