$primary-color:#00A5CF;
$secondary-color:#004E64;
$third-color:#9FFFCB;
$fourth-color:#25A18E;
$fifth-color:#7AE582;
$dark-color:#000;
$dark-light-color:#040404;
$grey-color:#c4c4c4;
$grey-light-color:#f3f4f5;
$white-color:#fff;
$white-dark-color:#f4f4f4;


$email-color:#2d991b;
$mms-color:#64a9dd;
$courrier-color:#a5467f;
$vocal-color:#d36733;
$sms-color:#2c6eb4;

$mailing-color:#7693ad;
$site-color:#2c6eb4;
$prospect-color:#e52020;
$footer-color: #707070;

$success-color:#43cd43;