{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    <div class="register container">
        <div class="register-inner">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>{% trans %}Please, Register{% endtrans %}</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">{% trans %}Register{% endtrans %}</button>
                <a href="{{ path('app_login') }}" class="link">{% trans %}Sign in{% endtrans %}</a>

            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
