<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="crypto, mining, animation, example, examples">
        <meta name="author" content="Creativegigs">
        <meta name="description" content="cryto is a beautiful website template designed for bitcoin crypto currency mining and exchange websites.">
        <meta name='og:image' content='images/home/ogg.png'>
        <!-- For IE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- For Resposive Device -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">

        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
    <div class="main-page-wrapper">


        <!-- ********************** Loading Transition ************************ -->
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>

        <div class="html-top-content">
            <!-- ********************** Theme Top Banne & Header ************************ -->
            <div class="theme-top-section">
                <!-- ^^^^^^^^^^^^^^^^^ Theme Menu ^^^^^^^^^^^^^^^ -->
                <header class="theme-main-menu">
                    <div class="container">
                        <div class="menu-wrapper clearfix">
                            <div class="logo"><a href="index.html"><img src="images/logo/logo.png" alt="Logo"></a></div>

                            <ul class="right-widget celarfix">
                                <li>
                                    <div id="polyglotLanguageSwitcher">
                                        <form action="#">
                                            <select id="polyglot-language-options">
                                                <option id="en" value="en" selected>En</option>
                                                <option id="fr" value="fr">Fr</option>
                                                <option id="de" value="de">Ger</option>
                                                <option id="it" value="it">It</option>
                                                <option id="es" value="es">Sp</option>
                                            </select>
                                        </form>
                                    </div> <!-- End #polyglotLanguageSwitcher -->
                                </li>
                                <li class="login-button"><a href="#">Login <i class="flaticon-right-thin"></i></a></li>
                            </ul> <!-- /.right-widget -->


                            <!-- Navigation -->
                            <nav class="navbar navbar-expand-lg" id="mega-menu-holder">
                                <div class="container">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="fa fa-bars" aria-hidden="true"></i>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarResponsive">
                                        <ul class="navbar-nav">
                                            <li class="nav-item">
                                                <a class="nav-link js-scroll-trigger" href="#features">Feature</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link js-scroll-trigger" href="#services">Services</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link js-scroll-trigger" href="#apps-review">Apps Review</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link js-scroll-trigger" href="#progress">Work Progress</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link js-scroll-trigger" href="#contact">Contact us</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div> <!-- /.menu-wrapper -->
                    </div> <!-- /.container -->
                </header> <!-- /.theme-main-menu -->



                <!-- ^^^^^^^^^^^^^^^^^ Theme Banner ^^^^^^^^^^^^^^^ -->
                <div id="theme-banner" class="theme-banner-one">
                    <img src="images/home/k.png" alt="" class="illustration">
                    <img src="images/icon/1.png" alt="" class="icon-shape-one">
                    <img src="images/icon/2.png" alt="" class="icon-shape-two">
                    <img src="images/icon/3.png" alt="" class="icon-shape-three">
                    <div class="round-shape-one"></div>
                    <div class="round-shape-two"><img src="images/icon/4.png" alt=""></div>
                    <div class="round-shape-three"></div>
                    <div class="container">
                        <div class="main-text-wrapper">
                            <h1>Populer Crypto <br>Revolution is begin <br>from here.</h1>
                            <p>A revolutionary digital coin system for future money.</p>
                            <ul class="button-group clearfix">
                                <li><a href="#">Explore</a></li>
                                <li>
                                    <div class="btn-group">
                                        <a href="#" class="download-button">Download For OS X</a>
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="download-win" href="#">Download For Windows</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="container">
                        <div class="stock-market-price">
                            <div id="market-rate">
                                <div class="item">
                                    <div class="main-wrapper">
                                        <div class="amount">$1,154,600</div>
                                        <h6 class="title">Market Cap.</h6>
                                        <div class="current-info range-down">
                                            <i class="icon flaticon-down-caret"></i>
                                            <span class="rate">-2.30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="main-wrapper">
                                        <div class="amount">2,79,108</div>
                                        <h6 class="title">Total Users</h6>
                                        <div class="current-info range-up">
                                            <i class="icon flaticon-up-carret"></i>
                                            <span class="rate">+1.42</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="main-wrapper">
                                        <div class="amount">$7,421,210</div>
                                        <h6 class="title">Trade Volume</h6>
                                        <div class="current-info range-up">
                                            <i class="icon flaticon-up-carret"></i>
                                            <span class="rate">+2.30</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="main-wrapper">
                                        <div class="amount">0.0044559</div>
                                        <h6 class="title">Exchange Rate</h6>
                                        <div class="current-info range-down">
                                            <i class="icon flaticon-down-caret"></i>
                                            <span class="rate">-0.63</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.stock-market-price -->
                    </div>
                </div> <!-- /.theme-banner-one -->
            </div> <!-- /.theme-top-section -->




            <!--
            =====================================================
                Our Feature
            =====================================================
            -->
            <div class="our-features-one" id="features">
                <div class="container">
                    <div class="theme-title">
                        <h2>The Largest & Best <span>Digital Currency</span> <br>for Your Future money</h2>
                    </div>


                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="single-feature">
                                <div class="icon-box">
                                    <img src="images/icon/5.png" alt="" class="primary-icon">
                                </div>
                                <h3>cryto Is Untraceable</h3>
                                <p>Sending and receiving addresses as well as transacted amounts.</p>
                            </div> <!-- /.single-feature -->
                        </div> <!-- /.col- -->
                        <div class="col-md-4 col-xs-12">
                            <div class="single-feature border-fix">
                                <div class="icon-box">
                                    <img src="images/icon/6.png" alt="" class="primary-icon">
                                </div>
                                <h3>Autonomy self-rule.</h3>
                                <p>cryto has striven to solve blockchain governance, transparency brings </p>
                            </div> <!-- /.single-feature -->
                        </div> <!-- /.col- -->
                        <div class="col-md-4 col-xs-12">
                            <div class="single-feature">
                                <div class="icon-box">
                                    <img src="images/icon/7.png" alt="" class="primary-icon">
                                </div>
                                <h3>Transparency & Stability</h3>
                                <p>In crypto, transparency brings trust & old strong transparency</p>
                            </div> <!-- /.single-feature -->
                        </div> <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.our-features -->



            <!--
            =====================================================
                Our Feature Two
            =====================================================
            -->
            <div class="our-feature-two" id="services">
                <div class="container">
                    <div class="row single-block">
                        <div class="col-lg-6">
                            <div class="text">
                                <div class="number">01</div>
                                <h2 class="title"><span>Decentralized</span> Minning Our core focus.</h2>
                                <p>Mining should be fair & easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.</p>
                                <a href="#" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                            </div> <!-- /.text -->
                        </div> <!-- /.col- -->
                        <div class="col-lg-6 img-box"><div><img src="images/shape/1.png" alt=""></div></div>
                    </div> <!-- /.row -->

                    <div class="row single-block">
                        <div class="col-lg-6 order-lg-last">
                            <div class="text">
                                <div class="number">02</div>
                                <h2 class="title"><span>Populer</span> Money and Smart wallet.</h2>
                                <p>Mining should be fair & easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.</p>
                                <a href="#" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                            </div> <!-- /.text -->
                        </div> <!-- /.col- -->
                        <div class="col-lg-6 order-lg-first img-box"><div><img src="images/shape/1.1.png" alt=""></div></div>
                    </div> <!-- /.row -->

                    <div class="row single-block">
                        <div class="col-lg-6">
                            <div class="text">
                                <div class="number">03</div>
                                <h2 class="title"><span>Upholding</span> Confidentialit & Strong Security.</h2>
                                <p>Mining should be fair & easy! We do not allow ASICs on our network. The development team is wholy commited to with keeping it that way.</p>
                                <a href="#" class="learn-more">Learn More <i class="flaticon-right-thin"></i></a>
                            </div> <!-- /.text -->
                        </div> <!-- /.col- -->
                        <div class="col-lg-6 img-box"><div><img src="images/shape/2.png" alt=""></div></div>
                    </div> <!-- /.row -->
                </div> <!-- /.container -->
            </div> <!-- /.our-feature-two -->



            <!--
            =====================================================
                Apps Overview
            =====================================================
            -->
            <div class="apps-overview color-one" id="apps-review">
                <div class="overlay-bg" style="background-image:url(images/home/bg2.png);">
                    <div class="container">
                        <div class="inner-wrapper">
                            <img src="images/home/s8.png" alt="" class="s8-mockup" data-aos="fade-down" data-aos-duration="2500">
                            <img src="images/home/x.png" alt="" class="x-mockup" data-aos="fade-up" data-aos-duration="2500">
                            <div class="row">
                                <div class="col-lg-5 offset-lg-7">
                                    <div class="text">
                                        <h3>don’t miss our apps</h3>
                                        <h2>Mobile Application for Faster Access.</h2>
                                        <h6>Now you can control dashboard from the mobile!</h6>
                                        <p>Mining should be fair & easy! We dose not allow ASIC on our network. The development team is who commited to with keeping it that way.</p>
                                        <ul class="button-group">
                                            <li><a href="#"><i class="flaticon-apple"></i> Apple Store</a></li>
                                            <li><a href="#"><img src="images/icon/playstore.png" alt=""> Google Play</a></li>
                                        </ul>
                                    </div> <!-- /.text -->
                                </div>
                            </div>
                        </div> <!-- /.inner-wrapper -->
                    </div>
                </div> <!-- /.overlay-bg -->
            </div> <!-- /.apps-overview -->




            <!--
            =====================================================
                Theme Counter
            =====================================================
            -->
            <div class="theme-counter">
                <div class="container">
                    <div class="bg-image">
                        <div class="row theme-title">
                            <div class="col-lg-6 order-lg-last">
                                <h2><span>Fastest</span> Growing Global Netwark.</h2>
                            </div>
                            <div class="col-lg-6 order-lg-first">
                                <p>We’r the fastest growing digital money that with strong community & security. Check our info with some number.</p>
                            </div>
                        </div>

                        <div class="counter-wrapper">
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="120" data-speed="1200" data-refresh-interval="5">0</span>K</h2>
                                    <p>Global Customer</p>
                                </div>
                                <div class="col-sm-4">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="36" data-speed="1200" data-refresh-interval="5">0</span>Y</h2>
                                    <p>Years Expereince</p>
                                </div>
                                <div class="col-sm-4">
                                    <h2 class="number"><span class="timer" data-from="0" data-to="7" data-speed="1200" data-refresh-interval="5">0</span>B</h2>
                                    <p>Current Stock</p>
                                </div>
                            </div>
                        </div> <!-- /.counter-wrapper -->
                    </div> <!-- /.bg-image -->
                </div> <!-- /.container -->
            </div> <!-- /.theme-counter -->


            <!--
            =====================================================
                Our Work Progress
            =====================================================
            -->
            <div class="our-work-progress bg-color" id="progress">
                <div class="main-wrapper clearfix">
                    <div class="section-title-wrapper clearfix">
                        <div class="theme-title">
                            <div class="upper-heading">Solutions</div>
                            <h2><span>Work</span> Process & Solutions.</h2>
                            <p>We put your ideas and thus your wishes in the form of a unique web project that inspires you and you customers.</p>
                        </div>
                    </div> <!-- /.section-title-wrapper -->
                    <div class="progress-slider-wrapper">
                        <div class="progress-slider">
                            <div class="item">
                                <div class="inner-block">
                                    <div class="icon"><img src="images/icon/11.png" alt=""></div>
                                    <h3>Create Account with Mail</h3>
                                    <p>Here will short description of your service.</p>
                                    <div class="num">1</div>
                                </div> <!-- /.inner-block -->
                            </div>
                            <div class="item">
                                <div class="inner-block">
                                    <div class="icon"><img src="images/icon/12.png" alt=""></div>
                                    <h3>Verify Account in 5 Minutes.</h3>
                                    <p>Here will short description of your service.</p>
                                    <div class="num">2</div>
                                </div> <!-- /.inner-block -->
                            </div>
                            <div class="item">
                                <div class="inner-block">
                                    <div class="icon"><img src="images/icon/13.png" alt=""></div>
                                    <h3>Send & Receive Money.</h3>
                                    <p>Here will short description of your service.</p>
                                    <div class="num">3</div>
                                </div> <!-- /.inner-block -->
                            </div>
                            <div class="item">
                                <div class="inner-block">
                                    <div class="icon"><img src="images/icon/11.png" alt=""></div>
                                    <h3>Create Account with Mail</h3>
                                    <p>Here will short description of your service.</p>
                                    <div class="num">4</div>
                                </div> <!-- /.inner-block -->
                            </div>
                            <div class="item">
                                <div class="inner-block">
                                    <div class="icon"><img src="images/icon/12.png" alt=""></div>
                                    <h3>Verify Account in 5 Minutes.</h3>
                                    <p>Here will short description of your service.</p>
                                    <div class="num">5</div>
                                </div> <!-- /.inner-block -->
                            </div>
                        </div> <!-- /.progress-slider -->
                    </div> <!-- /.progress-slider-wrapper -->
                </div> <!-- /.main-wrapper -->
            </div> <!-- /.our-work-progress -->





            <!--
            =====================================================
                Testimonial Section
            =====================================================
            -->
            <div class="testimonial-section">
                <div class="container">
                    <div class="theme-title text-center">
                        <div class="upper-heading">Testimonials</div>
                        <h2>Our Client <span>Testimonials</span></h2>
                    </div>

                    <div class="testimonial-slider">
                        <div class="item">
                            <div class="single-block clearfix">
                                <div class="img-block"><img src="images/home/1.jpg" alt=""></div>
                                <div class="text">
                                    <h3 class="name">Rashed Kabir</h3>
                                    <span>CEO, Creativegigs</span>
                                    <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                    <img src="images/home/sign.png" alt="" class="sign">
                                </div> <!-- /.text -->
                            </div> <!-- /.single-block -->
                        </div>
                        <div class="item">
                            <div class="single-block clearfix">
                                <div class="img-block"><img src="images/home/2.jpg" alt=""></div>
                                <div class="text">
                                    <h3 class="name">Jannatul Fa.</h3>
                                    <span>MD. Tourisom Group</span>
                                    <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                    <img src="images/home/sign.png" alt="" class="sign">
                                </div> <!-- /.text -->
                            </div> <!-- /.single-block -->
                        </div>
                        <div class="item">
                            <div class="single-block clearfix">
                                <div class="img-block"><img src="images/home/1.jpg" alt=""></div>
                                <div class="text">
                                    <h3 class="name">Rashed Kabir</h3>
                                    <span>CEO, Creativegigs</span>
                                    <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                    <img src="images/home/sign.png" alt="" class="sign">
                                </div> <!-- /.text -->
                            </div> <!-- /.single-block -->
                        </div>
                        <div class="item">
                            <div class="single-block clearfix">
                                <div class="img-block"><img src="images/home/2.jpg" alt=""></div>
                                <div class="text">
                                    <h3 class="name">Jannatul Fa.</h3>
                                    <span>MD. Tourisom Group</span>
                                    <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                    <img src="images/home/sign.png" alt="" class="sign">
                                </div> <!-- /.text -->
                            </div> <!-- /.single-block -->
                        </div>
                        <div class="item">
                            <div class="single-block clearfix">
                                <div class="img-block"><img src="images/home/1.jpg" alt=""></div>
                                <div class="text">
                                    <h3 class="name">Rashed Kabir</h3>
                                    <span>CEO, Creativegigs</span>
                                    <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                    <img src="images/home/sign.png" alt="" class="sign">
                                </div> <!-- /.text -->
                            </div> <!-- /.single-block -->
                        </div>
                        <div class="item">
                            <div class="single-block clearfix">
                                <div class="img-block"><img src="images/home/2.jpg" alt=""></div>
                                <div class="text">
                                    <h3 class="name">Jannatul Fa.</h3>
                                    <span>MD. Tourisom Group</span>
                                    <p>“Success is making our clients succeed. Nothing else matters how we work.”</p>
                                    <img src="images/home/sign.png" alt="" class="sign">
                                </div> <!-- /.text -->
                            </div> <!-- /.single-block -->
                        </div>
                    </div> <!-- /.testimonial-slider -->
                </div> <!-- /.container -->
            </div> <!-- /.testimonial-section -->



            <!--
            =============================================
                Contact Us One
            ==============================================
            -->
            <div class="contact-us-one" id="contact">
                <div class="overlay">
                    <div class="container">
                        <div class="theme-title text-center">
                            <h2>Get In Touch</h2>
                            <p>vel modus honestatis ad, vim an vidit aliquam instructior. Alii efficiendi <br> intellegebat nec ea, mea elitr interesset ea</p>
                        </div>

                        <form action="#" class="form-validation" autocomplete="off">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>First Name*</label>
                                    <input type="text" placeholder="First Name" name="firstName">
                                </div>
                                <div class="col-md-6">
                                    <label>Last Name*</label>
                                    <input type="text" placeholder="Last Name" name="lastName">
                                </div>
                                <div class="col-md-6">
                                    <label>Email*</label>
                                    <input type="email" placeholder="Email Address" name="email">
                                </div>
                                <div class="col-md-6">
                                    <label>Phone</label>
                                    <input type="text" placeholder="Phone Number" name="phone">
                                </div>
                                <div class="col-12">
                                    <label>I would like to discuss*</label>
                                    <input type="text" name="message">
                                </div>
                            </div>
                            <button>Send Message</button>
                        </form>

                        <!--Contact Form Validation Markup -->
                        <!-- Contact alert -->
                        <div class="alert-wrapper" id="alert-success">
                            <div id="success">
                                <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <div class="wrapper">
                                    <p>Your message was sent successfully.</p>
                                </div>
                            </div>
                        </div> <!-- End of .alert_wrapper -->
                        <div class="alert-wrapper" id="alert-error">
                            <div id="error">
                                <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                                <div class="wrapper">
                                    <p>Sorry!Something Went Wrong.</p>
                                </div>
                            </div>
                        </div> <!-- End of .alert_wrapper -->
                    </div>
                </div> <!-- /.overlay -->
            </div> <!-- /.contact-us-one -->


            <!--
            =====================================================
                Partner Slider
            =====================================================
            -->
            <div class="partner-section">
                <div class="container">
                    <div class="partner-slider">
                        <div class="item"><a href="#"><img src="images/logo/p-1.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="images/logo/p-2.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="images/logo/p-3.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="images/logo/p-4.png" alt=""></a></div>
                        <div class="item"><a href="#"><img src="images/logo/p-5.png" alt=""></a></div>
                    </div>
                </div>
            </div>

            <!--
            =====================================================
                Footer
            =====================================================
            -->
            <footer class="theme-footer">
                <div class="container">
                    <div class="inner-wrapper">
                        <div class="top-footer-data-wrapper">
                            <div class="row">
                                <div class="col-lg-4 col-sm-6 footer-logo">
                                    <div class="logo"><a href="index.html"><img src="images/logo/logo.png" alt="Logo"></a></div>
                                    <a href="#" class="email">crytoco@company.com</a>
                                    <a href="#" class="mobile">648-xxx-xxxx</a>
                                </div> <!-- /.footer-logo -->
                                <div class="col-lg-2 col-sm-6 footer-list">
                                    <h4 class="title">Quick Links</h4>
                                    <ul>
                                        <li><a href="#">How it Works</a></li>
                                        <li><a href="#">Guarantee</a></li>
                                        <li><a href="#">Security</a></li>
                                        <li><a href="#">Report Bug</a></li>
                                        <li><a href="#">Pricing</a></li>
                                    </ul>
                                </div> <!-- /.footer-list -->
                                <div class="col-lg-3 col-sm-6 footer-list">
                                    <h4 class="title">About Us</h4>
                                    <ul>
                                        <li><a href="#">About Singleton</a></li>
                                        <li><a href="#">Jobs</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">Blog</a></li>
                                    </ul>
                                </div> <!-- /.footer-list -->
                                <div class="col-lg-3 col-sm-6 footer-list">
                                    <h4 class="title">Become A Member</h4>
                                    <ul>
                                        <li><a href="#">Contributor</a></li>
                                        <li><a href="#">Union Member</a></li>
                                        <li><a href="#">Processing</a></li>
                                        <li><a href="#">Legal Action</a></li>
                                    </ul>
                                </div> <!-- /.footer-list -->
                            </div> <!-- /.row -->
                        </div> <!-- /.top-footer-data-wrapper -->

                        <div class="bottom-footer clearfix">
                            <p class="copyright">&copy; 2018 <a href="#">cryto</a> All Right Reserved</p>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div> <!-- /.bottom-footer -->
                    </div>
                </div> <!-- /.container -->
            </footer>

        </div> <!-- /.html-top-content -->

        {% block body %}{% endblock %}

        <!-- Scroll Top Button -->
        <button class="scroll-top tran3s color-one-bg">
            <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
        </button>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
